/* change the background color */
.navbarCustom{
    background-color: #cc3333;
    color: white;
    height: 100vh;
    align-items: flex-start;
}

.navbarText{
    color:white;
    padding:10px;
}

.contentContainer{

    background-color:whitesmoke;
    color:black;
    border-radius:1%;
    padding: 3%;

}

.sidebarCustom{
    background-color:lightgrey;
    border-radius: 5%;
    color:black;
}

/* change the brand and text color */
.navbarCustom .navbarBrand,
.navbarCustom .navbarText {
    color: #ffffff;
}

/* change the link color */
.navbarCustom .navbar-nav .nav-link {
    color: #ffbb00;
}

/* change the color of active or hovered links */
.navbarCustom .nav-item.active .nav-link,
.navbarCustom .nav-item:focus .nav-link,
.navbarCustom .nav-item:hover .nav-link {
    color: pink;
}

.cardContainer {
    margin-right: 100px;
}